/* app global css */
.space-evenly {
  justify-content: space-evenly;
}
.space-between {
  justify-content: space-between;
}
.bg-chip {
  background: #eef3ff;
  color: #a3aed0;
}
.text-underline {
  text-decoration: underline;
}
.content-container {
  width: 100%;
  height: auto;
  position: relative;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.toolbar-btn {
  color: #a3aed0;
  background: #eef3ff;
  border-radius: 8px;
}
.product-container {
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Poppins';
  background: linear-gradient(
      358.31deg,
      #fff -24.13%,
      hsla(0, 0%, 100%, 0) 338.58%
    ),
    linear-gradient(
      89.84deg,
      rgba(230, 36, 174, 0.15) 0.34%,
      rgba(94, 58, 255, 0.15) 16.96%,
      rgba(10, 136, 255, 0.15) 34.66%,
      rgba(75, 191, 80, 0.15) 50.12%,
      rgba(137, 206, 0, 0.15) 66.22%,
      rgba(239, 183, 0, 0.15) 82%,
      rgba(246, 73, 0, 0.15) 99.9%
    );
}
.gradiant-btn {
  background: linear-gradient(
    277.14deg,
    #25f6ff -15.2%,
    #7782ff 55.76%,
    #ff5196 113.69%
  );
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
